.book{
    border: 2px solid black;
    margin: 5px;
    padding: 5px;
    width: 50px;
}
.pages{
    font-size: small;
    margin-left: 65%;
}
.input{
    margin: 15px ;
}
#addNewBookForm{
     visibility: hidden;
}